.home {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(84, 168, 236);
    padding: 1em;
    margin-left: 20%;
}

@media only screen and (max-width: 768px) {
    .home { 
        margin-left: 0;
    }

    .searchBody {
        width: 5%;
    }
}

.searchBody::-webkit-scrollbar {
    display: none;
}

.home__spillerDetails {
    margin: 0;
   margin-top: 5%;
   margin-right: 5%;
   box-sizing: border-box;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:#fff;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   max-height: 40vh;
   flex-direction: column;
}

.home__spillerDetails > h3, h2 {
    margin-bottom: 5%;
}

.home__spillerImage{
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(0,0,0,.8), -6px -6px 12px rgba(255,255,255,0.4);
 }

.hit {
    margin-left: 7%;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
  }

.hit:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.searchBody {
    height: 100vh;
    overflow: auto;
    width: 60%;
    padding: 0 10px;
}

.searchBody__main {
    margin-bottom: 20%;
}

.searchBody li {
    list-style-type: none!important;
}

.searchBody ul {
    padding: 0;
}

.search input{
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    outline: none;
}

.search button{
    border: none;
    padding: 10px 15px;
    background: #eee;
}

.songImage {
    height: 5%;
    width: 5%;
}

.hit__addSong {
    margin-right: 5%;
}

.hit__addSong:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}
.confirmButton {
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(84, 168, 236);
    color: whitesmoke;
    width: 50% !important;
    margin: 2%;
}

.confirmButton:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}


