.spiller{
   margin: 0;
   margin-top: 5%;
   margin-right: 5%;
   box-sizing: border-box;
   font-family: monospace;
   background: #313131;
   color:#fff;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   max-height: 80vh;
   flex-direction: column;
   border-top-left-radius: 13px;
   border-bottom-left-radius: 13px;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
   padding: 5%;
   padding-top: 3px;
   box-shadow: 0 4px 60px rgba(0,0,0,0.5);
    /* box-shadow: inset -6px -6px 12px rgba(0,0,0,.8); */
 }
 .spiller > h4{
   font-size: 3em;
   font-weight: 400;
   text-align: center;
   margin: 5%
 }
 .spiller > p{
   color: #aaa;
   font-size: 14px;
   text-align: center;
   font-weight: 400;
 }
 .spillerDetail .spillerDetail__img{
   position: relative;
   width: fit-content;
   margin: 0 auto;
 }
 .spillerDetail__img img{
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(0,0,0,.8), -6px -6px 12px rgba(255,255,255,0.4);
 }
 .spillerDetail__title{
    color: #eee;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;

 }
 .spillerDetail__artist{
    color: #aaa;
    font-size: 1em;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,.8), -2px -2px 4px rgba(255,255,255,0.4);*/
    text-align: center;
    margin-right: 10%;
    margin-bottom: 10%;
 }

 .spiller__element {
    margin: 5%;
 }

 