.searchBody {
    margin-top: 10%;
height: 100vh;
  overflow: auto;
  width: 60%;
  padding: 0 10px;
  
}

.hit {
    margin-left: 7%;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
  }

.hit:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.searchBody li {
    list-style-type: none!important;
}

.searchBody ul {
    padding: 0;
}

.search input{
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    outline: none;
}

.search button{
border: none;
padding: 10px 15px;
background: #eee;
}

.songImage {
    height: 5%;
    width: 5%;
}