.home {
    position: fixed;
    display: flex;
    margin-top: 20%;
    justify-content: space-between;
    bottom: 0;
    width: 80%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(84, 168, 236);
    padding: 1em;
    margin-left: 20%;
}

.searchResults {
    margin-top: 10%;
    margin-left: 10%;
}

