.home {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(84, 168, 236);
    padding: 1em;
    margin-left: 20%;
}